.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#sidebar {
  position: absolute;
  top: 0;
  background: lightgray;
  float: left;
  height: 100%;
  width: 20%;
}

#subsidebar {
  display: inline-block;
  position: fixed;
  top: 0;
  padding-top: 3%;
  padding-left: 3%;
}

.value-info {
  margin-top: 8%;
  margin-bottom: 6%;
  font-size: 1.5em;
}

h1 {
  color: #4c4c4c;
  font-size: 2.1em;
}

.room-number {
  color: #999999;
}
